// .form {
//   position: relative;
// }

.form__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: $mg-7;
}

.red-btn {
  background-color: $color-red-4;
  color: $color-white-5;
  &:hover {
    background-color: $color-red-5 !important;
  }
}

.yellow-btn {
  background-color: $color-yellow-2;
  &:hover {
    background-color: $color-yellow-3;
  }
}

.microcopy {
  display: block;
  color: #9da3af;
  font-size: $fs-6;
  margin-top: 4px;
}

a {
  color: #e2007a;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

small {
  font-size: 75%;
  color: $color-white-9;
}

.tertiary {
  color: $color-white-9;
}

.cart.is-hidden .cart__overlay {
  opacity: 0;
  visibility: hidden;
}
.cart.is-hidden .cart__contents {
  transform: translate(0, 0);
}

.shoppingCart {
  position: relative;
  color: #405461;
  font-family: "Muli";
}

.cart__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart__contents {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 100%;
  width: 500px;
  height: 92%;
  overflow: auto;
  background-color: $color-white-5;
  transition: all 0.25s ease-in-out;
  transform: translate(-100%, 0);
  z-index: 99;
}

.cart__products,
.cart__totals {
  padding: 28px;
}

.cart__totals {
  background-color: $color-white-3;
}

.font-normal {
  font-weight: normal;
}

.products {
  margin: $mg-7 0 0;
}

.product {
  display: flex;
  padding: $pd-3 0;
  border-bottom: $bd-0 solid #ccc;
}
.product:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
}

.product__thumbnail {
  width: 120px;
  height: 120px;
  /* border: 1px solid #ccc; */
  border-radius: $border-radius-3;
  background-color: $color-white-5;
}

.product__details {
  padding-left: $pd-3;
  flex-grow: 1;
}

.product__name {
  font-weight: bold;
}

.product__stuff {
  margin-top: $mg-5;
  font-size: $fs-6;
}

.product__options {
  @extend .product__stuff;
}

td,
th {
  padding-bottom: 12px;
}

tfoot td,
tfoot th {
  padding-top: 12px;
}

.first {
  order: 1;
}

.product {
  display: flex;
  flex-direction: column;
}

.product__1 {
  display: flex;
}

.product__2 {
  display: flex;
  align-items: center;
  padding-top: 16px;
}
.product__2 div {
  flex: 1 1 auto;
}

.product__details {
  display: flex;
  flex-direction: column;
}

.product__price {
  text-align: right;
}

#priceTotal {
  font-weight: $fw-3;
}

.qty .count {
  color: $color-black-1;
  display: inline-block;
  vertical-align: top;
  font-size: $fs-4;
  font-weight: $fw-4;
  line-height: 20px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 20px;
  height: 20px;
  margin-top: 1px;

  font: 20px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-color: #284c5b !important;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 20px;
  height: 20px;
  margin-top: 1px;

  font: 20px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #284c5b !important;
}

.minus:hover {
  background-color: #4166af !important;
}
.plus:hover {
  background-color: #4166af !important;
}

.quantityResult {
  font-size: 17px;
  font-weight: $fw-3;
}

.card {
  border: solid 1px rgb(238, 238, 238);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  transition: 0.3s all ease-in-out;
  height: 600px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  & .content-overlay {
    background: $color-black-3;
    position: absolute;
    height: 120%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  &:hover {
    border: none;
    box-shadow: #293e63 0px 22px 70px 4px;
    transform: scale(1.1);
    z-index: 1;
  }
  &:hover .content-overlay {
    opacity: 1;
  }
  &:hover .content-details {
    top: 40%;
    left: 50%;
    opacity: 1;
  }
}

.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  & h3 {
    color: $color-white-5;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  & p {
    color: $color-white-5;
    font-size: 1em;
  }
}

.fadeIn-top {
  top: 20%;
}

.card-body {
  padding-bottom: 0;
  min-width: fit-content;
}

.card-img {
  padding-top: 10px;
  width: inherit;
  height: 200px;
  object-fit: contain;
  display: block;
}

.card .btn {
  font-size: 17px;
  border-radius: 20px;
  position: absolute;
  top: 100%;
  left: 25%;
  transition: all 0.5s ease-in-out 0s;
  z-index: 1;
  background-color: #daa300;
  opacity: 0;
  &:hover {
    background-color: #f0b70e;
  }
}

.card:hover .btn:active {
  transition: all 0.15s ease-in-out 0s;
  background-color: #ffdc74;
}

.card:hover .btn {
  top: 85%;
  opacity: 1;
}

.card span {
  font-weight: $fw-2;
  font-size: $fs-6;
}

.card b {
  font-weight: $fw-3;
}

.card h5 {
  font-size: $fs-5;
}

.card .text-muted {
  font-size: $fs-5;
}
