* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

p {
  margin: 0 0 16px;
}

h2 {
  margin: 0px;
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav.black {
  background: rgba(0, 0, 0, 0.8);
}

.nav-link .badge {
  position: relative;
  padding: 0.2em 0.5em;
  top: -10px;
  left: -12px;
  z-index: 1;
}

.btn {
  border: 0px;
  color: rgba(255, 255, 255, 0.85);
  background-color: #294d5c;
  transition: all 0.15s;
}
.btn:hover {
  outline: none;
  background-color: #5f9db8;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
  box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff;
}
.btn:active {
  transform: scale(0.95);
  background-color: #294d5c;
}

.btn-banner:hover {
  background-color: #ffffff;
}

#btnDelete {
  background-color: #e7380c;
}
#btnDelete:hover {
  background-color: #e96949;
}

#btnEdit, #btnUpdate, #btnAddPhone {
  background-color: #f0b80f;
}

#btnEdit:hover,
#btnAddPhone:hover,
#btnUpdate:hover {
  background-color: #f1ca55;
}

header #navbarColor01 a {
  transition: 0.3s all ease-in-out;
}

header #navbarColor01 a:hover {
  transform: scale(1.15);
}

.gradient-custom {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}

.main-color {
  background: #2c5364;
}

.banner-image {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
}
.banner-image .btn {
  font-size: 18px;
}

.banner-phone-image img {
  width: 800px;
}

.star-rating a {
  color: rgba(255, 255, 255, 0.85);
  margin-right: 10px;
}
.star-rating a:hover {
  color: #ffffff;
}

.aa {
  line-height: 26px;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand-box {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eaeaea;
  padding: 0px 5px;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.product-cart {
  position: relative;
}

.btn-cart {
  position: absolute;
  bottom: -10px;
}

footer {
  bottom: 0;
  width: 100%;
}

@media (max-width: 525.5px) {
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0px;
  }
  .cart__contents {
    width: 400px;
  }
  #selectList {
    width: 100% !important;
  }
}
.btn {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-family: "Muli";
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 8px;
}/*# sourceMappingURL=main.css.map */