//color
$color-white-1: rgb(204, 204, 204);
$color-white-2: rgb(211, 215, 216);
$color-white-3: #f7f7f7;
$color-white-4: rgba(255, 255, 255, 0.85);
$color-white-5: #ffffff;
$color-white-6: #e3ecfd;
$color-white-7: #fff0e8;
$color-white-8: #eaeaea;
$color-white-9: #9da3af;
$color-yellow-1: #f3ce5e;
$color-yellow-2: #f0b80f;
$color-yellow-3: #f1ca55;
$color-blue-1: #294d5c;
$color-blue-2: #5f9db8;
$color-blue-3: #404b61;
$color-blue-4: #2c5364;
$color-blue-5: rgba(29, 38, 113, 0.8);
$color-blue-6: hsla(216, 83%, 68%, 0.31);
$color-red-1: #e7380c;
$color-red-2: rgba(195, 55, 100, 0.8);
$color-red-3: red;
$color-red-4: #df461f;
$color-red-5: #e96443;
$color-orange-1: #e96949;
$color-pink-1: #fda8cf;
$color-black-1: rgba(0, 0, 0, 0.1);
$color-black-2: #3e403f;
$color-black-3: rgba(0, 0, 0, 0.8);

//font size
$fs-1: 2.5rem;
$fs-2: 2rem;
$fs-3: 1.5rem;
$fs-4: 20px;
$fs-5: 16px;
$fs-6: 14px;
$fs-7: 18px;
$fs-8: 1rem;

//font weight
$fw-1: lighter;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;

//letter spacing
$ls-1: 2px;

// line-height
$lh-1: 14px;
$lh-2: 26px;
$lh-3: 1.5;

//Padding
$pd-0: 0px;
$pd-1: 0.25rem;
$pd-2: 70px;
$pd-3: 15px;
$pd-4: 0.7rem;
$pd-5: 0.75rem;
$pd-6: 0.375rem;
$pd-7: 2.25rem;

//Margin
$mg-0: 0px;
$mg-1: 200px;
$mg-2: 20px;
$mg-3: 40px;
$mg-4: 0.5rem;
$mg-5: 8px;
$mg-6: 10px;
$mg-7: 24px;

//border
$bd-1: 1px;
$bd-0: 0px;

// width
$w-1: 250px;
$w-2: 450px;
$w-3: 800px;
$w-4: 400px;

// height
$h-1: 250px;
$h-2: 500px;

//border-radius
$border-radius: 75px;
$border-radius-1: 10px;
$border-radius-2: 5px;
$border-radius-3: 3px;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
  "extra-large-down": 1199.98px,
  "large-down": 991.98px,
  "medium-down": 767.98px,
  "small-down": 575.98px,
);
